MegaFit/src/account/itemStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/itemStructure" xmlns:tns="http://www.example.org/itemStructure" elementFormDefault="qualified">

	<element name="Item">
		<complexType>
			<attribute name="name" type="string" use="required"></attribute>
			<attribute name="attackBoost" type="int" use="required"></attribute>
			<attribute name="denfenseBoost" type="int" use="required"></attribute>
		</complexType>
	</element>

</schema>